<h3>Add Specialty</h3>
<form method="post" action="/spcl/add">
    <label>File</label><br>
    <input type="text" name="spcl_file"><br>
    <br><br>
    <input type="submit" value="Specialty">
</form>

<h3>Add Subspecialty</h3>
<form method="post" action="/subspcl/add">
    <label>File</label><br>
    <input type="text" name="subspcl_file"><br>
    <br><br>
    <input type="submit" value="Subspecialty">
</form>

<h3>Add Diagnosis</h3>
<form method="post" action="/diag/add">
    <label>File</label><br>
    <input type="text" name="diag_file"><br>
    <br><br>
    <input type="submit" value="Diagnosis">
</form>

<h3>Delete Node</h3>
<form method="post" action="/node/del">
    <label>Label</label><br>
    <input type="text" name="Node_label">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Add Node3 to Node1</h3>
<form method="post" action="/node1/node3/add">
    <label>Node1 val name</label><br>
    <input type="text" name="Node1_val"><br>
    <label>Node3 val name</label><br>
    <input type="text" name="Node3_val"><br>
    <label>Relationship Name</label><br>
    <input type="text" name="Node_rel"><br>
    <label>File Name</label><br>
    <input type="text" name="Node_file">
    <br><br>
    <input type="submit" value="Submit">
</form>




<h3>Resulting Specialty .. Yo </h3>
<ul>    
<% specialties.forEach(function(specialty){ %>
    <li><%= specialty.name %></li>
<% }) %>
</ul>

<h3>Resulting Subspecialty .. Yo </h3>
<ul>    
<% subspecialities.forEach(function(subspecialty){ %>
    <li><%= subspecialty.name %></li>
<% }) %>
</ul>

<h3>Resulting Diagnosis .. Yo </h3>
<ul>    
<% subspecialities.forEach(function(subspecialty){ %>
    <li><%= subspecialty.id %></li>
<% }) %>
</ul>


