<h3>Add JSON</h3>
<form method="post" action="/json/add">
    <label>File</label><br>
    <input type="text" name="json_file">
    <br>
    <input type="submit" value="JSON">
</form>
<br><br>

<h3>Delete Node</h3>
<form method="post" action="/node/del">
    <label>Label</label><br>
    <input type="text" name="Node_label">
    <br>
    <input type="submit" value="Submit">
</form>
<br><br>

<h3>Resulting Specialty .. Yo </h3>
<ul>    
<% specialties.forEach(function(specialty){ %>
    <li><%= specialty.name %></li>
<% }) %>
</ul>

<h3>Resulting Subspecialty .. Yo </h3>
<ul>    
<% subspecialities.forEach(function(subspecialty){ %>
    <li><%= subspecialty.name %></li>
<% }) %>
</ul>

<h3>Resulting Diagnosis .. Yo </h3>
<ul>    
<% diagnosiss.forEach(function(diag){ %>
    <li><%= diag.name %></li>
<% }) %>
</ul>


