<h3>Add JSON</h3>
<form method="post" action="/json/add">
    <label>File</label><br>
    <input type="text" name="json_file">
    <br>
    <input type="submit" value="JSON">
</form>
<br><br>

<h3>Add Node</h3>
<form method="post" action="/add/node">
    <label>Label</label><br>
    <input type="text" name="label">
    <br>
	<label>Value</label><br>
	<input type="text" name="value">
    <br>
    <input type="submit" value="Submit">
</form>
<br><br>

<h3>Add Property</h3>
<form method="post" action="/add/property">
    <label>Label</label><br>
    <input type="text" name="label">
    <br>
	<label>Property</label><br>
	<input type="text" name="property">
    <br>
    <input type="submit" value="Submit">
</form>
<br><br>

<h3>Set Property Value</h3>
<form method="post" action="/set/property">
    <label>Label</label><br>
    <input type="text" name="label">
    <br>
	<label>name</label><br>
    <input type="text" name="name">
    <br>
	<label>Property</label><br>
	<input type="text" name="property">
    <br>
	<label>Value</label><br>
	<input type="text" name="value">
    <br>
    <input type="submit" value="Submit">
</form>
<br><br>

<h3>Add Relationship from Node1 to Node2</h3>
<form method="post" action="/add/rel">
    <label>Node1 - Label</label><br>
    <input type="text" name="label1">
    <br>
	<label>Node1 - Value</label><br>
	<input type="text" name="value1">
    <br>
	<label>Relation</label><br>
	<input type="text" name="relation">
    <br>
	<label>Node2 - Label</label><br>
    <input type="text" name="label2">
    <br>
	<label>Node2 - Value</label><br>
	<input type="text" name="value2">
    <br>
	<label>Property</label><br>
	<input type="text" name="property">
    <br>
    <input type="submit" value="Submit">
</form>
<br><br>


<h3>Resulting Specialty .. Yo </h3>
<ul>    
<% specialties.forEach(function(specialty){ %>
    <li><%= specialty.name %></li>
<% }) %>
</ul>

<h3>Resulting Subspecialty .. Yo </h3>
<ul>    
<% subspecialities.forEach(function(subspecialty){ %>
    <li><%= subspecialty.name %></li>
<% }) %>
</ul>

<h3>Resulting Diagnosis .. Yo </h3>
<ul>    
<% diagnosiss.forEach(function(diag){ %>
    <li><%= diag.name %></li>
<% }) %>
</ul>

<h3>Find Specialty</h3>
<form method="post" action="/filter/specialty">
    <input type="text" name="diag">
    <br>
    <input type="submit" value="Diagnosis"><br>
    <input type="text" name="subspcl">
    <br>
	<input type="submit" value="Subpecialty">

</form>
<br><br>

<h3>Find Subspecialty</h3>
<form method="post" action="/filter/subspeciality">
    <input type="text" name="diag">
    <br>
    <input type="submit" value="Diagnosis"><br>
    <input type="text" name="spcl">
    <br>
	<input type="submit" value="Specialty">

</form>
<br><br>

<h3>Find Diagnosis</h3>
<form method="post" action="/filter/diagnosis">
    <input type="text" name="spcl">
    <br>
    <input type="submit" value="Specialty"><br>
	<input type="text" name="subspcl">
    <br>
	<input type="submit" value="Subspecialty">
</form>
<br><br>

<h3>Fetch All .... </h3>
<form method="post" action="/fetch">
    <label>Input Label</label><br>
    <input type="text" name="label">
    <br>
    <input type="submit" value="fetch_all">
</form>
<br><br>


<h3>Update a Node</h3>
<form method="post" action="/update">
	<label>Label</label><br>
    <input type="text" name="label">
    <br>
	<label>Property</label><br>
	<input type="text" name="property">
    <br>
	<label>Old Value</label><br>
	<input type="text" name="old_val">
    <br>
	<label>New Value</label><br>
	<input type="text" name="new_val">
    <br>
	<input type="submit" value="UPDATE">
</form>
<br><br>

<h3>Delete Node</h3>
<form method="post" action="/del/node">
    <label>Label</label><br>
    <input type="text" name="label">
    <br>
	<label>Property</label><br>
	<input type="text" name="property">
    <br>
	<label>Value</label><br>
	<input type="text" name="value">
    <br>
    <input type="submit" value="Submit">
</form>
<br><br>

<h3>Delete Relationship</h3>
<form method="post" action="/del/rel">
    <label>Node1 - Label</label><br>
    <input type="text" name="label1">
    <br>
	<label>Node1 - Value</label><br>
	<input type="text" name="value1">
    <br>
	<label>Property</label><br>
	<input type="text" name="property">
    <br>
	<label>Node2 - Label</label><br>
    <input type="text" name="label2">
    <br>
	<label>Node2 - Value</label><br>
	<input type="text" name="value2">
    <br>
	
    <input type="submit" value="Submit">
</form>
<br><br>