<h3>Add Node1</h3>
<form method="post" action="/node1/add">
    <label>Node1 val name</label><br>
    <input type="text" name="Node1_val">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Add Node3</h3>
<form method="post" action="/node3/add">
    <label>Node2 val</label><br>
    <input type="text" name="Node3_val">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Add Node3 to Node1</h3>
<form method="post" action="/node1/node3/add">
    <label>Node1 val name</label><br>
    <input type="text" name="Node1_val"><br>
    <label>Node3 val name</label><br>
    <input type="text" name="Node3_val">
    <br><br>
    <input type="submit" value="Submit">
</form>




<h3>Node 1 .. Yo </h3>
<ul>    
<% movies.forEach(function(movie){ %>
    <li><%= movie.val %></li>
<% }) %>
</ul>


<h3>Node 3 .. Yo </h3>
<ul>    
<% actors.forEach(function(movie){ %>
    <li><%= movie.val %></li>
<% }) %>
</ul>

